/* App-wide component styles */

:host {
	display: block;
}

nav { display: flex; gap: 0.5rem; justify-content: center; margin: 0.5rem 0 1rem 0; }
nav a { opacity: 0.95; }

router-outlet { display: block; }

.content-center { display: flex; align-items: center; justify-content: center; }
